body {
    margin: 0;
    padding: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background: pink;
}

.title {
    margin-bottom: 40px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.image {
    width: 320px;
    height: auto;
    border-radius: 10px;
}

.info {
    text-align: left;
    font-size: 1.5em;
}

.info li {
    margin-bottom: 8px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 2px;
}

.author-link {
    margin: 30px auto 20px auto;
    font-size: 1.6em;
    text-align: center;
}